<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neutron - FAQ</title>
    <script defer src="../../js/main.js"></script>
    <link rel="stylesheet" href="../../scss/style.scss">
    <!-- <link rel="stylesheet" href="../../css/faq.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->

</head>

<body>
    <aside-bar>
        <slot></slot>
    </aside-bar>
    <main data-router-wrapper>
        <article data-router-view="faq">
            <style>
                h1.type-1 {
                    font-size: 10vw;
                    margin-bottom: calc(100vh / 8);
                }

                ul {
                    list-style-type: none;
                    font-size: 125%
                }

                li {
                    border-top: 2px solid black;
                    padding: 1rem 0 1rem 0;
                }

                li:last-of-type {
                    border-bottom: 2px solid black;
                }

                summary {
                    cursor: pointer;
                }

                summary:focus {
                    outline: none;
                    border: none;
                }

                details>p {
                    margin-top: 1rem;
                    padding-left: 1.5rem;
                }
            </style>
            <nav class="navigation">
                <header class="title">
                    <h1 class="type-1">FAQs</h1>
                </header>
                <article>
                    <ul>
                        <li>
                            <details>
                                <summary>What is Neutron?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>What can you do with Neutron?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>How do I view my progress?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>How do I use the resume generator?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>How do I report the bugs?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Are the services provided by Neutron enough for my
                                    preparation?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>What is Neutron?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>What can you do with Neutron?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>How do I view my progress?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>How do I use the resume generator?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>How do I report the bugs?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Are the services provided by Neutron enough for my
                                    preparation?</summary>
                                <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions,
                                    international pavilions, award-winning fireworks and seasonal special events.</p>
                            </details>
                        </li>
                    </ul>

                </article>
            </nav>
        </article>
    </main>

</body>

</html>