<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neutron - Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="../css/schedule.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

</head>

<body>
    <aside-bar>
        <slot></slot>
    </aside-bar>
    <main data-router-wrapper>
        <article data-router-view="schedule">
            <div class="title">
                <h2>Placement Schedule</h2>
            </div>
            <div class="columns">
                <div class="column is-one-third">
                    <aside class="menu">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li><a>Dashboard</a></li>
                            <li><a>Customers</a></li>
                        </ul>
                        <p class="menu-label">
                            Administration
                        </p>
                        <ul class="menu-list">
                            <li><a>Team Settings</a></li>
                            <li>
                                <a class="is-active">Manage Your Team</a>
                                <ul>
                                    <li><a>Members</a></li>
                                    <li><a>Plugins</a></li>
                                    <li><a>Add a member</a></li>
                                </ul>
                            </li>
                            <li><a>Invitations</a></li>
                            <li><a>Cloud Storage Environment Settings</a></li>
                            <li><a>Authentication</a></li>
                        </ul>
                        <p class="menu-label">
                            Transactions
                        </p>
                        <ul class="menu-list">
                            <li><a>Payments</a></li>
                            <li><a>Transfers</a></li>
                            <li><a>Balance</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-two-thirds">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1">DATE</div>
                                <div class="col col-2">COMPANY NAME</div>
                                <div class="col col-3">SALARY PACKAGE</div>
                                <div class="col col-4">TIMINGS</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42235</div>
                                <div class="col col-2" data-label="Customer Name">John Doe</div>
                                <div class="col col-3" data-label="Amount">$350</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42442</div>
                                <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
                                <div class="col col-3" data-label="Amount">$220</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42257</div>
                                <div class="col col-2" data-label="Customer Name">John Smith</div>
                                <div class="col col-3" data-label="Amount">$341</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1" data-label="Job Id">42311</div>
                                <div class="col col-2" data-label="Customer Name">John Carpenter</div>
                                <div class="col col-3" data-label="Amount">$115</div>
                                <div class="col col-4" data-label="Payment Status">Pending</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </main>

</body>

</html>